### Week 1 Homework
The homework must be screenshots of your code from Jupyter Notebook pasted into [the HW1 - Python Basics doc] MS-WORD and include the Jupyter notebook as well as part of your submission.  As an example, just sending the Word document without the Jupyter notebook will receive 50% credit.

1) given input

In [4]:
one = 1

two = 2

three = 3

four = 4

can = "can"

do = "do"

python = "python"

more = "more"

print( one, two, three, four, can, do, python, more)

1 2 3 4 can do python more

2)
Based upon these numbers, please take a picture using the “Snip” function to show the code and output provide the given Input:

Given Input:

number1 = 15
number2 = 30

Expected output:

The result is 450

In [5]:
number1 = 15
number2 = 30
print(number1 * number2)

450

# 3) Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

Given input:

numbers_x = [10, 20, 30, 40, 10]

numbers_y = [75, 65, 35, 75, 30]

Expected output:

Given list: [10, 20, 30, 40, 10]

result is True

numbers_y = [75, 65, 35, 75, 30]

result is False

In [8]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
print("Given list: " + str(numbers_x))
print(f"\nresult is {str(numbers_x[0] == numbers_x[-1])}")
print(f"\nnumbers_y = " + str(numbers_y))
print(f"\nresult is {str(numbers_y[0] == numbers_y[-1])}")

Given list: [10, 20, 30, 40, 10]

result is True

numbers_y = [75, 65, 35, 75, 30]

result is False

# 4) Iterate the given list (from #3) of numbers and print only those numbers which are divisible by 5
Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [9]:
numbers_z = [10, 20, 33, 46, 55]
print(f"Given list is {numbers_z}")
print(f"Divisible by 5")

for number in numbers_z:
    if number % 5 == 0:
        print(number)

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

# 5) Write a program to find how many times substring “Anjali” appears in the given string.
Given input:
str_x = "Anjali is good developer. Anjali is a writer"
Expected output:
Anjali appeared 2 times

In [12]:
str_x = "Anjali is good developer. Anjali is a writer"
print(f"Anjali appeared {str_x.count('Anjali')} times")

Anjali appeared 2 times

# 6) Print the following pattern:
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [14]:
for i in range (1, 6):
    print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# 7) Print a multiplication table from 1 to 100:

In [15]:
for i in range (1, 11):
    for j in range (1, 11):
        print(i * j, end="\t")
    print(" ")

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

# 8) Let’s now use Numpy to convert a list to an array.
First, convert the list of weights from a list to a Numpy array.
Then, convert all of the weights from kilograms to pounds.
Use the formula Celsius (°C) = Kelvin - 273.15 to convert Kelvin to Celsius.
Lastly, print the resulting array of temperatures in Celsius.

Given input:

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]

In [17]:
import numpy
Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]
Temp_C_array = numpy.array(Temp_K)
# Kelvin to Celsius conversion formula: Kelvin - 273.15
print(Temp_C_array - 273.15)

[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

# 9) Let’s build a Dataframe in Pandas.

Use a dictionary to create four fields:
- Student (use Tommy, Fred, Gail, [your first name], Randy, and Ariel)
- Hair Color (use Brown, Grey, Blonde, [your hair color] , Black and Brown)
- Eye Color (use Hazel, Green, Blue, [your eye color], Hazel and Blue)
- Weight in kilograms (60, 80, 76, 60, 88, 85)
- Index the dataframe

- Print out the entire dataframe
- Print out hair color column as Pandas Series
- Print out eye color column as Pandas DataFrame
- Print out DataFrame with student and weight columns
- Print out the second through fourth observations

In [18]:
import pandas as pd
student_info = {
    "Student": ["Tommy", "Fred", "Gail", "Alex", "Randy", "Ariel"],
    "Hair Color": ["Brown", "Grey", "Blonde", "Brown", "Black", "Brown"],
    "Eye Color": ["Hazel", "Green", "Blue", "Brown", "Hazel", "Blue"],
    "Weight in kilograms": [60, 80, 76, 60, 88, 85]
}
df = pd.DataFrame(student_info)
formatting = "\n" + "-" * 50 + "\n"
print(f"Student Info: \n {df} {formatting}")
print(f"Hair Color (as a Pandas Series): \n {df["Hair Color"]} {formatting}")
print(f"Eye Color (as a Pandas Data Frame): \n {df[["Eye Color"]]} {formatting}")
print(f"Student and Weight in kg (as a Pandas Data Frame): \n {df[["Student", "Weight in kilograms"]]} {formatting}")
print(f"Second through fourth observations: \n {df.iloc[1:4]} {formatting}")

Student Info:
   Student Hair Color Eye Color  Weight in kilograms
0   Tommy      Brown     Hazel                   60
1    Fred       Grey     Green                   80
2    Gail     Blonde      Blue                   76
3    Alex      Brown     Brown                   60
4   Randy      Black     Hazel                   88
5   Ariel      Brown      Blue                   85
--------------------------------------------------

Hair Color (as a Pandas Series):
 0     Brown
1      Grey
2    Blonde
3     Brown
4     Black
5     Brown
Name: Hair Color, dtype: object
--------------------------------------------------

Eye Color (as a Pandas Data Frame):
   Eye Color
0     Hazel
1     Green
2      Blue
3     Brown
4     Hazel
5      Blue
--------------------------------------------------

Student and Weight in kg (as a Pandas Data Frame):
   Student  Weight in kilograms
0   Tommy                   60
1    Fred                   80
2    Gail                   76
3    Alex                   60
4   Randy                   88
5   Ariel                   85
--------------------------------------------------

Second through fourth observations:
   Student Hair Color Eye Color  Weight in kilograms
1    Fred       Grey     Green                   80
2    Gail     Blonde      Blue                   76
3    Alex      Brown     Brown                   60
--------------------------------------------------